book/target/book.war
book/target/book/WEB-INF/web.xml
book/target/book/WEB-INF/classes/com/example/book/controllers/ForgotServletController.class
book/target/book/WEB-INF/classes/com/example/book/controllers/HomeServletController.class
book/target/book/WEB-INF/classes/com/example/book/controllers/LoginServletController.class
book/target/book/WEB-INF/classes/com/example/book/controllers/RegisterServletController.class
book/target/book/WEB-INF/classes/com/example/book/model/Account.class
book/target/book/WEB-INF/classes/com/example/book/model/DBCrud.class
book/target/book/WEB-INF/classes/com/example/book/model/MySQLConnector.class
book/target/book/WEB-INF/classes/com/example/book/model/Product.class
book/target/book/WEB-INF/lib/jakarta.el-api-5.0.0.jar
book/target/book/WEB-INF/lib/jakarta.servlet.jsp.jstl-3.0.0.jar
book/target/book/WEB-INF/lib/jakarta.servlet.jsp.jstl-api-3.0.0.jar
book/target/book/WEB-INF/lib/mysql-connector-j-8.0.33.jar
book/target/book/WEB-INF/lib/protobuf-java-3.21.9.jar
book/target/book/WEB-INF/views/Forgot.jsp
book/target/book/WEB-INF/views/HomePage.jsp
book/target/book/WEB-INF/views/Login.jsp
book/target/book/WEB-INF/views/Register.jsp
book/target/book/WEB-INF/views/Reset.jsp
book/target/book/WEB-INF/views/test.jsp
book/target/book/WEB-INF/views/test2.jsp
book/target/book/css/animate.min.css
book/target/book/css/bootstrap-grid.css
book/target/book/css/bootstrap-grid.css.map
book/target/book/css/bootstrap-grid.min.css
book/target/book/css/bootstrap-grid.min.css.map
book/target/book/css/bootstrap-reboot.css
book/target/book/css/bootstrap-reboot.css.map
book/target/book/css/bootstrap-reboot.min.css
book/target/book/css/bootstrap-reboot.min.css.map
book/target/book/css/bootstrap.css
book/target/book/css/bootstrap.css.map
book/target/book/css/bootstrap.min.css
book/target/book/css/bootstrap.min.css.map
book/target/book/css/default-skin.css
book/target/book/css/font-awesome.min.css
book/target/book/css/icomoon.css
book/target/book/css/jquery-ui.css
book/target/book/css/jquery.fancybox.min.css
book/target/book/css/jquery.mCustomScrollbar.min.css
book/target/book/css/login.css
book/target/book/css/meanmenu.css
book/target/book/css/my-login.css
book/target/book/css/nice-select.css
book/target/book/css/normalize.css
book/target/book/css/owl.carousel.min.css
book/target/book/css/responsive.css
book/target/book/css/slick.css
book/target/book/css/style.css
book/target/book/front/fontawesome-webfont.eot
book/target/book/front/fontawesome-webfont.svg
book/target/book/front/fontawesome-webfont.ttf
book/target/book/front/fontawesome-webfont.woff
book/target/book/front/fontawesome-webfont.woff2
book/target/book/front/FontAwesome.otf
book/target/book/front/IcoMoon-Free.ttf
book/target/book/front/Poppins-Black.ttf
book/target/book/front/Poppins-BlackItalic.ttf
book/target/book/front/Poppins-Bold.ttf
book/target/book/front/Poppins-BoldItalic.ttf
book/target/book/front/Poppins-ExtraBold.ttf
book/target/book/front/Poppins-ExtraBoldItalic.ttf
book/target/book/front/Poppins-ExtraLight.ttf
book/target/book/front/Poppins-ExtraLightItalic.ttf
book/target/book/front/Poppins-Italic.ttf
book/target/book/front/Poppins-Light.ttf
book/target/book/front/Poppins-LightItalic.ttf
book/target/book/front/Poppins-Medium.ttf
book/target/book/front/Poppins-MediumItalic.ttf
book/target/book/front/Poppins-Regular.ttf
book/target/book/front/Poppins-SemiBold.ttf
book/target/book/front/Poppins-SemiBoldItalic.ttf
book/target/book/front/Poppins-Thin.ttf
book/target/book/front/Poppins-ThinItalic.ttf
book/target/book/icon/1.png
book/target/book/icon/2.png
book/target/book/icon/3.png
book/target/book/icon/4.png
book/target/book/icon/5.png
book/target/book/icon/6.png
book/target/book/icon/call.png
book/target/book/icon/email.png
book/target/book/icon/j1.png
book/target/book/icon/j2.png
book/target/book/icon/j3.png
book/target/book/icon/j4.png
book/target/book/icon/k1.png
book/target/book/icon/loc.png
book/target/book/icon/p1.png
book/target/book/icon/p2.png
book/target/book/icon/p4.png
book/target/book/icon/s1.png
book/target/book/icon/s2.png
book/target/book/icon/s3.png
book/target/book/icon/s4.png
book/target/book/icon/tw.png
book/target/book/images/12namnole.png
book/target/book/images/bg_main.jpg
book/target/book/images/bogia.png
book/target/book/images/bucxuc.png
book/target/book/images/cap.png
book/target/book/images/codecss.png
book/target/book/images/codepython.png
book/target/book/images/codethieunhi.png
book/target/book/images/crros.png
book/target/book/images/crros1.png
book/target/book/images/dacnhantam.png
book/target/book/images/dacnhantamnho.png
book/target/book/images/hoavang.png
book/target/book/images/html.png
book/target/book/images/javacode.png
book/target/book/images/loading.gif
book/target/book/images/logo.jpg
book/target/book/images/logo.png
book/target/book/images/logo1.png
book/target/book/images/maps-and-flags.png
book/target/book/images/menu_icon.png
book/target/book/images/nhatky.png
book/target/book/images/nhungnguoikhonkho.png
book/target/book/images/save_bg.jpg
book/target/book/images/search_icon.png
book/target/book/images/tamlyhoc.png
book/target/book/images/tesla.png
book/target/book/images/thep.png
book/target/book/images/tramnamcodon.png
book/target/book/images/tuduy.png
book/target/book/images/wild.png
book/target/book/images/xitrum.png
book/target/book/js/bootstrap.bundle.js
book/target/book/js/bootstrap.bundle.js.map
book/target/book/js/bootstrap.bundle.min.js
book/target/book/js/bootstrap.bundle.min.js.map
book/target/book/js/bootstrap.js
book/target/book/js/bootstrap.js.map
book/target/book/js/bootstrap.min.js
book/target/book/js/bootstrap.min.js.map
book/target/book/js/custom.js
book/target/book/js/jquery-3.0.0.min.js
book/target/book/js/jquery.mCustomScrollbar.concat.min.js
book/target/book/js/jquery.min.js
book/target/book/js/jquery.validate.js
book/target/book/js/modernizer.js
book/target/book/js/my-login.js
book/target/book/js/plugin.js
book/target/book/js/popper.min.js
book/target/book/js/slider-setting.js
book/target/classes/.DS_Store
book/target/classes/com/.DS_Store
book/target/classes/com/example/.DS_Store
book/target/classes/com/example/book/.DS_Store
book/target/classes/com/example/book/controllers/ForgotServletController.class
book/target/classes/com/example/book/controllers/HomeServletController.class
book/target/classes/com/example/book/controllers/LoginServletController.class
book/target/classes/com/example/book/controllers/RegisterServletController.class
book/target/classes/com/example/book/model/Account.class
book/target/classes/com/example/book/model/DBCrud.class
book/target/classes/com/example/book/model/MySQLConnector.class
book/target/classes/com/example/book/model/Product.class
book/target/maven-archiver/pom.properties
book/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
book/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
book/target/surefire-reports/com.example.AppTest.txt
book/target/surefire-reports/TEST-com.example.AppTest.xml
book/target/test-classes/com/example/AppTest.class
